.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .cards {
    display: block;
  }

  .card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
