footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  line-height: 1.5rem;
}

.contact-box {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.map-box {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 900px) {
  footer {
    display: block;

    .map-box {
      margin-top: 20px;
      width: 100%;
      padding: 0;
    }
  }
}
