nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

ul {
  display: flex;

  li {
    list-style: none;
    padding: 3px 25px;
    margin: 0 5px;
    transition-duration: 1s;
  }

  li:hover {
    background: #ffacbf; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffacbf,
      #f79e8f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffacbf,
      #f79e8f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
}
