nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo-icon {
  font-size: 1.5rem;
}

.burgericon {
  display: none;
}

ul {
  display: flex;

  li {
    list-style: none;
    padding: 3px 25px;
    margin: 0 5px;
    transition-duration: 1s;
  }

  li:hover {
    background: #f2994a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #f2c94c,
      #f2994a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #f2c94c,
      #f2994a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 800px) {
  nav {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 10px 0;

    .burgericon {
      display: inline-block;
      width: 100%;
      margin-left: 50%;
      cursor: pointer;

      .bar1,
      .bar2,
      .bar3 {
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 6px 0;
        transition: 1s;
      }
    }
    .change .bar1 {
      -webkit-transform: rotate(45deg) translateY(0);
      transform: rotate(45deg) translateY(11px) translateX(11px);
    }

    /* Fade out the second bar */
    .change .bar2 {
      opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
      -webkit-transform: rotate(-45deg) translateY(0);
      transform: rotate(-45deg) translateY(0) translateX(0);
    }
  }

  .logo {
    padding-left: 15px;
    padding-bottom: 10px;
  }

  ul {
    display: inline-block;
    text-align: center;
    margin-left: -15px;
  }
}
