$button-color: #f7baaf00;
$outline-color: rgb(224, 196, 169);

.button {
  padding: 10px 40px;
  margin: 5px 0;
  background-color: $button-color;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  transition-duration: 0.5s;
}

.button:focus {
  outline-color: $outline-color;
}

.button:hover {
  cursor: pointer;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
