.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30%;
  min-height: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-header {
  img {
    width: 100%;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    opacity: 0.9;
    transition-duration: 0.5s;
  }
  img:hover {
    opacity: 1;
  }
}

.card-cat {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-color: rgb(163, 163, 163);
  padding: 2px 9px;
  border-radius: 20px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.cat-red {
  background-color: rgba(255, 169, 169, 0.5);
}

.cat-blue {
  background-color: rgba(150, 150, 236, 0.5);
}

.cat-green {
  background-color: rgba(174, 221, 174, 0.5);
}

.card-title {
  margin: 10px 20px;
}

.card-description {
  margin: 10px 20px;
  text-align: justify;
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.card-icon {
  font-size: 1.2rem;
  margin: 0 4px;
}
